version: "3"

services:
  web:
    build:
      context: .
    volumes:
      - ./apache.conf:/etc/apache2/sites-available/000-default.conf
      - ./:/var/www/html
      - ./ssl:/etc/apache2/ssl
    ports:
      - 80:80
      - 443:443

  mysql:
    image: mysql:5.7
    volumes:
      - db-data:/var/lib/mysql
#      - ./my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      MYSQL_DATABASE: cakephp_db
      MYSQL_ROOT_PASSWORD: mysql_Pr72K3Kwt

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

volumes:
  db-data:
    external: false
